.card{
   font-family: 'Roboto', sans-serif;
   font-size: 12px; 
   padding-top: 50%;
 
}
.sublinhado{
   font-size: 10px; 
   font-style: italic;
   margin-right: 15%;
   text-decoration: underline;
   
   
}
img{
   justify-content: center;
   padding-bottom: 15%;
}




